<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>
    	<property name="hibernate.connection.provider_class">org.hibernate.connection.ProxoolConnectionProvider</property>
        <property name="hibernate.proxool.pool_alias">proxoolPool</property>
        <property name="hibernate.proxool.xml">classpath*:/proxool/proxool.xml</property>
        <property name="hibernate.proxool.existing_pool">true</property>
        
        <!-- SQL dialect 方言-->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Disable the second-level cache  二级缓存-->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
		
		<property name=hibernate.jdbc.fetch_size>20</property>
		
		<property name="hibernate.jdbc.batch_size">20</property>
		
        <!-- Echo all executed SQL to stdout 控制台显示SQL语句-->
        <property name="show_sql">true</property>
        <property name="hibernate.format_sql">true</prop> 

        
        <!-- 将实体类映射成数据库字段  -->
        <!-- 方法一  通过配置文件映射 -->
        <!-- <mapping resource="com/bjsxt/hibernate/Event.hbm.xml"/> -->
        <!-- 方法二  通过注解映射 (略   后面笔记记录)-->

</hibernate-configuration>